
*{

    padding: 0;
    margin: 0;
}
.boxes{
    display: inline-block;
    color: white;
    background: black;
    padding: 15px;
   
}
.digito{

    color: white;
    background: black;
    padding: 35px 0 40px 40px;
    margin-bottom: 25px;
}


#boton {
    padding: 100px;
    margin: 0 auto;
}

#boton button{
    display: block;
    padding: 100px;
    width: 500px;
    margin: 0 auto;
   
}

#box-line {
    padding: 25px;

}