header {
    padding: 10px;
    height: 80px;
    background-color: #666666;
    color: white;
}

header .logo img {
    border-radius: 50%;
    margin: 10px;
    height: 60px;
    width: 60px;
    clear: both;
    float: left;
}

header h2 {
    line-height: 80px;
    display: inline;
    white-space: nowrap;
}

header .profile {
    position: relative;
    background-color: #333333;
    height: 80px;
}

header .profile .name-profile span {
    position: absolute;
    right: 45px;
    top: 25px;
}

header .pic-profile {
    padding: 10px;
}

header .pic-profile img {
    border-radius: 50%;
    line-height: 80px;
    margin-top: 5px;
}

header .name-profile p {
    line-height: 80px;
    padding-left: 10px;
}

#lista {
    list-style: none;
}

#lista li {
    z-index: 9;
    padding: 15px;
    position: relative;
    background-color: #333333;
    color: lightskyblue;
    line-height: 45px;
    text-align: center;
}

#lista li:last-child {
    border-radius: 0 0 50% 50%;
}

#lista {
    border-bottom: 4px solid lightskyblue;
    border-left: 4px solid lightskyblue;
    border-right: 4px solid lightskyblue;
    border-radius: 0 0 25% 25%;
}

#lista li a {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

#pagination span {
    text-decoration: none;
    cursor: pointer;
}

.active {
    border-left: 5px solid lightskyblue !important;
}

.active-page {
    background-color: black;
}

.active a {
    margin-left: -5px;
}

#lista li:first-child {
    padding-top: 40px;
}

#navb ul li {
    text-align: left;
    padding: 10px;
    line-height: 50px;
}

#navb .credits {
    padding: 0 5%;
    overflow-wrap: break-word;
}

#navb .credits h5 {
    font-size: 0.8em;
    margin-top: 100%;
}

#navb {
    background-color: #595959;
    height: 1200px;
    color: white;
    text-align: center;
}

#navb ul {
    white-space: nowrap;
    list-style: none;
}

#navb .dash {
    display: inline-block;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-image: url(../img/instagram-xxl.png);
    background-size: 80% 80%;
}

#main-content .box .frame .header {
    background-color: green;
    padding: 10px;
    color: white;
}

#main-content .box {
    padding: 0 10px;
}

#main-content .box .frame {
    border: 2px solid green;
    box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.75);
}

#main-content .box .frame p {
    text-align: center;
    font-size: 9em;
}

#main-content .row:first-child {
    padding-top: 25px;
}

#main-content .box:first-child .frame:first-child {
    border: 2px solid orange;
    box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.75);
}

#main-content .box:last-child .frame:last-child {
    border: 2px solid red;
    box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.75);
}

#main-content .box:first-child .frame:first-child .header {
    background-color: orange;
    padding: 10px;
    color: white;
}

#main-content .box:last-child .frame:last-child .header {
    background-color: red;
    padding: 10px;
    color: white;
}

#formularie .form {
    padding: 10px;
}

#formularie .tab {
    padding: 5px;
    font-size: 0.9em;
    min-width: 350px;
}

#formularie .tab .frame {
    border: 2px solid gray;
}

#formularie .tab .frame .header {
    background-color: grey;
    padding: 10px;
    color: white;
}

#formularie .form .body p {
    font-size: 1em;
    margin-top: 15px;
    background-color: gainsboro;
    padding: 10px;
    overflow-wrap: break-word;
    border: 0.5px solid lightgrey;
}

#formularie .form .body button {
    color: white;
    background-color: #0096DA;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 40px;
    float: left;
}

#formularie .form .frame {
    border: 2px solid #0096DA;
}

#formularie .form .frame .header {
    background-color: #0096DA;
    padding: 10px;
    color: white;
}

#formularie .tab .body {
    border: 2px solid grey;
    padding: 10px;
}

#formularie .form .body {
    border: 2px solid #0096DA;
    padding: 10px;
}

#formularie .tab .info {
    font-size: 1.0em;
    padding: 10px;
    color: red;
    border: 2px dashed red;
    text-align: left;
    margin-bottom: 15px;
}

#formularie .tab .body .table-bk p {
    text-align: left;
    font-weight: bold;
}

.table {
    padding: 10px;
    white-space: nowrap;
    border: 1px solid lightgrey;
}

.table-bk ul {
    list-style: none;
    min-height: 160px;
}

.table-bk li:nth-child(odd) {
    background-color: lightgrey;
}

#pagination span:last-child {
    border-right: none;
}

#pagination {
    box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.75);
    color: lightskyblue;
    display: inline-block;
    border: 1px solid lightskyblue;
    padding: 10px;
    border-radius: 15px 15px 15px 15px;
    margin: 25px 0;
}

#pagination span {
    padding: 10px;
    display: inline;
    border-right: 1px solid lightskyblue;
}

h2 ion-icon {
    float: right;
    cursor: pointer;
    clear: both;
}

p ion-icon {
    cursor: pointer
}

.info p ion-icon {
    float: right;
    clear: both;
}

input {
    margin-top: 15px;
    display: block;
    width: 100%;
    padding: 10px;
}

#formularie {
    margin-top: 100px;
}

input:nth-child(2) {
    height: 75px;
}

.rotate-down {
    transition-property: transform;
    transition-duration: 0.5s;
    transform: rotate(0deg);
}

.rotate-up {
    transition-property: transform;
    transition-duration: 0.5s;
    transform: rotate(180deg);
}