
body {
    background-color: #CBCBCB;
    font-family: sans-serif;
    padding: 35px;
}

#header .frame {
    margin-right: 5px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

#header .frame h1 {
    padding: 10px;
    background-color: #DCDCDC;
    width: 98%;
    font-weight: lighter;
    color: rgb(26, 26, 26);
    box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
}

#main-content {
    padding: 1% 0;
}

#main-content .frame {

    color: black;
    width: 99%;
    height: 600px;
    padding: 50px;
    background-image: url(../img/fondo_prueba.jpeg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
}

#main-content .frame h1 {
    border-radius: 10px 10px 0 0;
    color: whitesmoke;
    margin-top: 5%;
    width: 60%;
    font-size: 4.0em;
    line-height: 75px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

#main-content .frame p {
    box-shadow: 0px 10px 5px -7px rgba(0, 0, 0, 0.75);
    border-radius: 0 0 10px 10px;
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    padding: 10px;
    width: 60%;
}

#main-content .frame .button {
    color: white;
    background-color: #333333;
    box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
    padding: 15px;
    display: inline-block;
    margin: 15px 0;
}

#main-content .menber {
    height: 298px;
    background-color: #DCDCDC;
    width: 96%;
    margin-bottom: 5px;
    text-align: center;
    box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
}

#main-content .menber p {
    line-height: 6.5rem;
    font-size: 1em;
    font-weight: bold;
}
#main-content .menber .price {

    font-size: 1.2em;

}
 

#main-content .menber .button {
    box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
    color: white;
    background-color: #333333;
    padding: 0.8em;
    display: inline-block;
}

#blur {
    width: 100%;
    text-align: center;
    height: 200px;
}

#blur .blur {
    box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
    padding: 20px;
    width: 98%;
    margin-right: 15px;
    background-color: #DCDCDC;
    height: 100%;
    margin: 0 auto;
}

#blur h2 {
    line-height: 30px;
}

#blur p {
    font-size: 0.8em;
    text-align: center;
    width: 88%;
    line-height: 20px;
    margin: 0 auto;
}

#blur img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

#gallery {
    box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
    background-color: #DCDCDC;
    min-height: 300px;
    
}

#gallery .empty {
    min-height: 200px;

}

#gallery .business {
    font-size: 0.8em;
    padding: 25px;
    line-height: 25px;
}

#gallery .button {
    color: white;
    font-weight: bold;
    background-color: #333333;
    box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
    padding: 10px 20px;
    display: inline-block;
    margin: 15px 0;
}

#gallery img {
    
    
    width: 98%;
    height: 170px;
    box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
}

#gallery .frame{
  
    position: relative;
    right: 5px;
    width: 97%;
    margin: 0 auto ;
    padding-bottom: 5px;
}
#gallery .zone {

    width: 101%;
}
#footer{

    margin-top: 25px;
    background-color: #333333;
    height: 100px;
    line-height: 100px;
    color: white;
    text-align: center;

}