
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    * {
        padding: 0px;
        margin: 0px;
    }
    
    body {
        width: 100%;
     
    }
    
    #container {
   
        border: 1px solid #ccc;
        width: 100%;
    }
        
    #container .header {
        position: relative;
        height: 70px;
        width: 100%;
        border: 1px solid #ccc;
    }

    #container .header p {
        position: absolute;
        top:15px;
        left: 150px;
        margin: 0 0 0 -50px;
        font-size: 1.7em;     
    }
    
 
    #container .nav {
        margin-bottom: 5px;
        position: relative;
        border: 1px solid #ccc;
        display: block;
        width: 100%;
        height: 300px;
    }
    
    #container .nav p {
        font-size: 1.7em;
        position: absolute;
        display: block;
        top: 150px;
        left: 150px;
        margin: -43px 0 0 -43px;
    }
    
    #container .container {
        border: 1px solid #ccc;
        display: block;
        width: 100%;
        height: 550px;
        position: relative;
    }
    
    #container .container p {
        font-size: 1.7em;
        position: absolute;
        display: block;
        top: 225px;
        left: 150px;
        margin: -18px 0 0 -75px;
    }
    
    #container .footer {
        position: relative;
    
        border: 1px solid #ccc;
        right: 0px;
        height: 150px;
        width: 100%;
        margin-bottom: 20px;
    }
    
    #container .footer p{
        position: absolute;
        font-size: 1.7em;
        top: 50px;
        left:100px;
  
        margin: -8px 0 0 -43;

    }
    

}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    * {
        padding: 0px;
        margin: 0px;
    }
    
    body {
 
        position: relative;
        width: 100%;

    
    }
    
    #container {
        position: absolute;
        border: 1px solid #ccc;
        width: 100%;
      
      
    }
    
    #container .header p {
        font-size: 1.7em;
        padding: 15px;
        text-align: center;
    }
    
    #container .header {
        display: block;
        height: 70px;
        border: 1px solid #ccc;
    }
    
     #container .nav {
        position: relative;
        border: 1px solid #ccc;
        display: inline-block;
        width: 25%;
        height: 300px;
        top: -250px;
    }
    
    #container .nav p {
        font-size: 1.7em;
        position: absolute;
        display: inline-block;
        top: 199px;
        left: 235px;
        margin: -43px 0 0 -43px;
    }
    
    #container .container {
        top: 0px;
        right: 0px;
        border: 1px solid #ccc;
        display: inline-block;
        width: 74%;
        height: 550px;
    }
    
    #container .container p {
        font-size: 1.7em;
        position: absolute;
        display: inline-block;
        top: 276px;
        right: 642px;
        margin: -18px 0 0 -43px;
    }
    
    #container .footer {
        position: relative;
        border: 1px solid #ccc;
        top: 0px;
        height: 150px;
        width: 100%;
        
    }
    
    #container .footer p{
        font-size: 1.7em;
        position: absolute;
        display: block;
        top: 50px;
        left: 50%;
        margin: -18px 0 0 -43px;
    }
    

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    * {
        padding: 0px;
        margin: 0px;
    }
    
    body {
 
        position: relative;
        width: 100%;

    
    }
    
    #container {
        position: relative;
        border: 1px solid red;
        width: 100%;
        height: 1000px;
      
      
    }
    #container .wraper {
        display: block;
    }
    
    #container .header p {
        font-size: 1.7em;
        padding: 25px;
        text-align: center;
    }
    
    #container .header {
        border: 1px solid black;
        display: block;
        height: 100px;
        
    }
    
     #container .nav {
        position: absolute;
        border: 1px solid #ccc;
        display: inline-block;
        width: 25%;
        height: 300px;
        top: 125px;
        left: 0px;
    }
    
    #container .nav p {
        font-size: 1.7em;
        position: inherit;
        display: inline-block;
        top: 199px;
        left: 235px;
        margin: -43px 0 0 -43px;
    }
    
    #container .container {
        position: absolute;
        top: 125px;
        right: 0px;
        border: 1px solid #ccc;
        display: inline-block;
        width: 74%;
        height: 710px;
    }
    
    #container .container p {
        font-size: 1.7em;
        position: absolute;
        display: inline-block;
        top: 300px;
        left: 642px;
        margin: -18px 0 0 -43px;
    }
    
    #container .footer {
        position: absolute;
        border: 1px solid #ccc;
        top:850px;
        height: 150px;
        width: 100%;
        
    }
    
    #container .footer p{
        font-size: 1.7em;
        position: absolute;
        display: block;
        top: 75px;
        left: 50%;
        margin: -18px 0 0 -43px;
    }
    

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    

}