
body {
    width: 70%;
    margin: 25px auto;
}
#header {
    height: 202px;
}

.azul h1 {
    line-height: 200px;
    text-align: center;
}

.azul {
    background-color: #38BBF0;
    width: 100%;
    height: 198px;
    margin: auto auto;
}

.purple {
    
    background-color: #7C73E6;
    width: 100%;
    height: 400px;
    margin: auto auto;
}

.purple h1 {
    line-height: 100px;
    text-align: center;
}

.purple p {
    
    line-height: 100px;
    text-align: center;
}

.blue-marin {
    background-color: #09204A;
    width: 100%;
    height: 198px;
    margin: auto auto;
}

.blue-marin h2 {
    line-height: 100px;
    text-align: center;
}

.blue-marin p {
    line-height: 100px;
    text-align: center;
}

#marin {
    height: 200px;
}

#blue {
    height: 200px;
}

.blue {
    background-color: #D9FAFF;
    width: 100%;
    height: 200px;
    margin: auto auto;
}

.blue h2 {
    line-height: 100px;
    text-align: center;
}

.blue p {
    line-height: 100px;
    text-align: center;
}

#bottom {
    height: 200px;
}

.yellow {
    background-color: #FDF1C1;
    width: 100%;
    height: 196px;
    margin: 5px auto;
}

.yellow h2 {
    line-height: 100px;
    text-align: center;
}

.yellow p {
    line-height: 50px;
    text-align: center;
}
section {
    padding-left: 5px;
}