         * {
             padding: 0px;
             margin: 0px;
           }

         #pagina {
             width: 100%;
             position: fixed bottom 15px;
             background-color: gray;
             border: 2px solid #666;
             overflow: auto;
             margin: 0px;
         }

         #pagina .derech {
             float: right;
         }

         #pagina .izqui {
             float: left;
         }

         #contenedor {
             background-color: #ccc;
             width: 500px;
             height: 500px;
             margin-left: 25px;
             margin-top: 25px;
             position: relative;
         }

         #bloque {
             background-color: red;
             position: absolute;
             width: 100px;
             height: 100px;
             top: 0;
             left: 0;
         }

         #lista {
             list-style: none;
         }

         #lista li {
             width: 100%;
             background-color: gray;
             padding-left: 25px;
             position: relative;
         }

         #lista li::before {
             position: absolute;
             left: 5px;
             top: 0px;
             background-color: red;
             width: 15px;
             height: 15px;
             content: "";
         }

         
         #lista-imagen {
           margin-left: 25px;  
           width: 50%;
           list-style:  none;

         }
          
         #lista-imagen li {

            position: relative;
            border: 1px solid black;
            cursor: pointer;
            padding: 15px 0px 15px 35px;
            background-color: lightgray;
             
         }

         #lista-imagen li:hover a{
               /* efecto hover en todos las*/
         }

         #lista-imagen li::before{
            position: absolute;
            left: 5px;
            top: 25%;
            width: 25px;
            height: 25px;
            content: "";
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj8-g-zyldi1nEoAU_k-UwoHHR0vwMeqNigKGh9qPbWKfJMqaMag&s);
            background-size: 100%;

         }

 