* {
    margin: 0px;
    padding: 0px;
}


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(../img/mywebsite/fondo.gif);
    background-repeat: repeat-x;
    background-color: #F2F5FE;

}

/*
    linea debajo del header sobre el mwnu de navegacion
*/

#line {
    background: #233B9B;
    height: 20px;
}

/*
   Contenedor de todos los elementos con los margenes para ese tipo de vista
*/

#main-content {
    background: white;
    margin: 50px auto;
    border: 1px solid black;
    border-radius: 25px;
    padding-bottom: 15px;
    width: 850px;
}

/*
    header
*/

#header {
    height: 20px;
    border-radius: 25px 25px 0 0;
    background-image: url(../img/mywebsite/cabecera.jpg);
    background-position-x: center;
    background-size: 120% 120%;
    padding: 50px 50px;
}

/*
    header content
*/

#header h1 {
    color: white;
    text-decoration: underline;
    font-weight: bold;
    float: left;
    display: inline;
    /*margin: 50px 0 0 50px;*/
}

/*
    header content
*/

#header input {
    float: right;
    display: inline;
    width: 140px;
    margin-top: 15px;
    margin-right: 15px;

}

/*
    header content
*/

#header button {
    border-radius: 5px;
    float: right;
    display: inline;
    margin: 15px 0 0 0;
}

/*
    nav unorder list main context
*/

nav ul {
    width: 100%;
    list-style: none;
}

/*
    nav list item context
*/

nav ul li {
    padding: 10px;
    display: inline-block;
    background: #233B9B;
    margin: 0 5px 0 5px;
}
nav ul li:first-child {
  margin-left: 15px;
}

/*
    nav list item over effect context
*/

nav ul li:hover {
    background: white;
}

/*
    nav list item a link over effect context
*/

nav ul li:hover a {
    color: tomato;
}

/*
    nav anchor component context
*/

nav ul li a {
    padding: 15px;
    color: white;
    font-weight: bold;
}



/*
    main context the list under this
    context are those under the h3 element in the main container
*/

#main ul {
    list-style: none;
}

/*
  we display it as a inline block to have all elements aside one of each other
*/

#main ul li {
    display: inline-block;
}

/*
  the container inside the main box is build with tow boxes inside
*/

#main {

    padding: 2%;
}

#main .container {
    display: inline-block;
    width: 800px;
    height: inherit;
    margin-bottom: -5px;



}

/*
  the container left inside containe
*/

#main .container .izq {
    float: left;
    max-width: 600px;
    padding: 5px 0 0 0;


}

/*
  the container left keep reading case
*/

#main .container .izq a.follow {
    padding: 25px 0;
    margin: 0 0 10px 25px;
    text-decoration: underline;
}
/*
  the container left post context
*/

#main .container .izq .post {
    padding: 15px 0 15px 0;
    background: #F2F5FE;
    border-radius: 25px 0 0 0;
    box-shadow: 0px -5px 0 rgba(50, 115, 177, 0.2);
    margin-bottom: 5px;
}

/*
  the container left post header context
*/

#main .container .izq .post h3 {
    background: #DEE5FC;
    padding: 10px;
}

/*
  the container left post ul
*/

#main .container .izq .post ul {
    padding: 10px;
    margin: 0 10px;
}

/*
  the container left post li
*/

#main .container .izq .post ul li {
    position: relative;
    margin: 0 15px;
}

/*
  the container left post li
*/

#main .container .izq .post ul li:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background-image: url(../img/mywebsite/icono_fecha.gif);
    left: -25px;
    top: 7px;
}

#main .container .izq .post ul li a {
    font-size: 0.8em;
}

/*
  the container left post li
*/

#main .container .izq .post p {
    padding: 15px;
    line-height: 1.6;
}



/*
  the container rigth inside containe
*/

#main .container .drch {
    float: left;
    margin: 0 0 0 0;
    max-width: 180px;
    overflow: hidden;
    background: #CEDBF9;
    border-radius: 0 25px 0px 0px;
    padding: 20px 10px;

}

/*
  the container rigth image case
*/

#main .container .drch .image img {
    float: left;
    width: 50px;
    height: 50px;
    margin: 10px 10px 5px 0;
}

/*
  the container who contain the rigth boxes
*/

#main .container .drch div {
    margin-bottom: 10px;
}

/*
  the container rigth headers
*/

#main .container .drch h4 {
    background: #A0B9F3;
    padding: 15px 0 10px 15px;
    margin: 0 -10px 15px -10px;
}
#main .container .drch p {
    font-size: 0.8em;
}

/*
  the container rigth list a component
*/

#main .container .drch ul li a {
    font-size: 0.9em;
    text-decoration: none;
}

#main .container .drch ul li:hover {
    background: rgb(255, 255, 255);
}

/*
  the container rigth item list
*/

#main .container .drch ul li {
    position: relative;
    padding: 5px 20px;
    width: 100%;
    margin: 0 0 0 -8px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

/*
  the container rigth item pic decoration
*/



#main .container .drch ul li::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background: url(../img/mywebsite/icono_categoria.gif);
    left: 5px;
    top: 10px;
    background-size: 100% 100%;
}

#main .container .drch ul li:hover::before {
  background: url(../img/mywebsite/icono_elemento_seleccionado.gif);
}

#main .container .drch ul li a.selecionado::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background: url(../img/mywebsite/icono_elemento_seleccionado.gif);
    left: 5px;
    top: 10px;
    background-size: 100% 100%;
}

#main .container .drch ul li.selecionado {
    background: rgb(255, 255, 255);
}

/*
  the Footer
*/

#footer {
    position: relative;
    width: 766px;
    padding: 17px;
    background: #F2F5FE;
    border-radius: 0 0 25px 25px;
    
}


#footer p::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 200px;
    border-radius: 0 0 25px 0;
    background: #CEDBF9;
    z-index: 99;
    right: 0px;
    top:0px;
    background-size: 100% 100%;

}
