* {
    padding: 0;
    margin: 0;
}

html {
    background-color: grey;
}

body {
    margin: 0 auto;
    font-family: sans-serif;
    padding: 0 2%;
}

@keyframes gira {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.header {
    background-color: black;
    color: white;
    height: 150px;
}

#header h1 {
    line-height: 50px;
    width: 80%;
    margin: 0 auto;
}

#header p {
    width: 80%;
    line-height: 1.5em;
    margin: 0 auto;
    font-size: 0.7em;
}

#pic {
    text-align: center;
    margin-top: 15px;
    border-left: 1px solid grey;
    font-size: 0.7em;
}

#pic div img {
    width: 70%;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
}

#pic div p {
   
    line-height: 1.5em;
    border-radius: 50%;
    margin: 0 auto;
 
}

#main-content {
    padding: 15px;
    background-color: white;

}

#main-content .life {
    position: relative;
    border-left: 1px solid black;
    padding-left: 25px;
 
}

#main-content .life p {
    font-size: 0.8em;
}

#main-content .top {
    background-color: white;
}

#main-content .year {
    font-weight: bold;
    white-space: nowrap;
 
}

#main-content .year ul li {
    font-size: 0.8em;
    text-align: right;
    margin-top: 25px;
    padding-bottom: 100px;
    text-align: left;
    list-style: none;
}

/* #main-content .year ul > li .bolas {
    position: relative;
    background-image: url(../img/churra.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    height: 15px;
    width: 15px;
    right: -0.5em;
} */

#skills {
    background-color: white;
    height: 170px;
    padding: 2%;
}

#skills h1 {
    background-color: white;
}

#skills span {
    line-height: 25px;
    background-color: black;
    color: white;
}

#skills .content {
    padding: 15px 0;
    border-bottom: 1px solid black;
}

#main-content .last {
    border-bottom: 1px solid black;
     
    
}

#footer {
    background-color: white;
    height: 150px;
    padding: 2%;
}

h4 {
    color: darkorange;
}

.life > .col-12 {
    position: relative;
}

.life > .col-12{
  
    padding-top: 25px;
    margin-bottom: 15px;
}
.life > .col-12::before {
    animation-duration: 2S;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-name: gira;
    position: absolute;
    content: "";
    background-image: url(../img/draganball.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 30px;
    width: 30px;
    left: -40px;
    top:0px;
    
}