a, p, span {   /* varios elementos que comparten los los atributos */



}
p span {  /* jerarquia de elementos from left to right */


} 

p.clss_name{     /* jerarquia de los elementos que contengan la clase from left to right */


}

.claase_mame {

}

#rufo { 

}
 /* atributo personalizado */
p[data-name="class_name"]{



}
p::first-letter {

    /* cambiamos la primera letra */
}

p::before {

    /* crea antes del texto elemento  */
}

p::after{

    /* margin: 10px 20px arriba abajo; va en el sentido de las agujas del reloj
       margin: 10px 20px 300 px 1º arraba 2º laterales y 3º bottom
    */
    /* deùes del texto o elemento*/
}


#tres-fotos ul li{
    list-style: none;
    display: inline;

}


/*

div {... }                     0.0.0.1
div div {...}                  0.0.0.2
#pagina div {...}              0.1.0.1
#pagina div:hover {...}        0.1.1.1
#pagina div:hover a {...}      0.1.1.2
#pagina .sel:hover > a {...}   0.1.2.1

first-child: solo el primer elemento de la seleccion que hagamos
:last-child 
:nth-child(2n)   2 - 4 - 6 - 8
:nth-child(2n+1) soporta operadoler matematicos  1 - 3 - 5... 
:nth-child(3n-1) soporta operadoler matematicos 2 - 5 - 8... 
*/


