body{
 
  background: black ;
}

input {
background: yellowgreen;
color: white;

}
.filas-operaciones {
  border: 2px solid greenyellow;
  background: black;
 
  padding: 10px 0 10px 0;
  width: 650px;
}
.filas-nombre {
  border: 2px solid greenyellow;
  background: black;
  padding: 25px 0 20px 0;
  width: 650px;
}
.filas-nombre label {
  
   color: greenyellow;
   width: 300px;
   margin: 0 auto;
   display: block;
}
.filas-nombre input {
 
  display: block;
  width: 300px;
  margin: 0 auto;
}

#nombre_usuario {

  text-transform: capitalize;
}

select {
  border: 2px solid greenyellow;
  background: black;
  color: greenyellow;
  padding: 15px;
}
ul {
 
 
  width: 550px;
  height: auto;
  margin: 0 auto;
}
li{

  height: 100%;
}

table {
  width: 650px;
  margin: 0 auto;

}

table td,th {
  margin: 5px;
  border: 2px solid greenyellow;
  color: greenyellow;
  padding: 25px;
}

/* Popup container */
.popup {
  position: relative;
  height: 150px;
  border: 1px solid black;
  display: block;
  cursor: pointer;
  margin: auto auto;
}

#cierre{

  position: absolute;
  right: 25px;
  top: 10px;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  position: fixed;
  width: 1000px;
  height: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;

  z-index: 1;
  top:25%;
  left: 25%;

}

/* Popup arrow */
 
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}