
body{
    background: black;
    padding: 2% 20% 20% 20%;
    color: rgb(0, 253, 0);
    position: relative;
   
}

legend {
    white-space: nowrap;
}
fieldset {
    font-size: 1.4em;
    border-color: white ;
}

#ejercicio-1 input {
    margin: 25px 0;
    display: block;
    width: 100%;    
}
#ejercicio-1 p {
    background: gray;
    color: white;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 100%;    
}

#ejercicio-1 p.error {
    background: orange;
    color: white;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 100%;    
}
#ejercicio-1 button {
    background: black;
    color: darkturquoise;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 100%;    
}



#ejercicio-2 input {
    margin: 25px 0;
    display: block;
    width: 100%;    
}
 
#ejercicio-2 p {
    background: gray;
    color: white;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 100%;    
}
#ejercicio-2 p.error {
    background: orange;
    color: white;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 100%;    
}
 

#ejercicio-3 input {
    margin: 25px 0;
    display: block;
    width: 100%;    
}
 
#ejercicio-3 p {
    background: gray;
    color: white;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 100%;    
}
 

#ejercicio-4 button {
    background: black;
    color: darkturquoise;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 100%;    
}

#ejercicio-4 p {
    background: gray;
    color: white;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 100%;    
}
 
#ejercicio-6 button {
    background: black;
    color: darkturquoise;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 100%;    
}
#ejercicio-6 select{
    background: black;
    color: darkturquoise;
    padding: 10px 0 10px 0;
    width: 100%;    
}

#ejercicio-7 button {
    background: black;
    color: darkturquoise;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 100%;    
}
#ejercicio-7 input {
    margin: 0 0 25px 0;
    display: block;
    width: 100%;    
}
#ejercicio-8 label {
    padding: 25px 0 0 0;
}

#ejercicio-8 ul li {
    position: relative;
    display: inline-block;
    margin: 0 0 0 5px;
}
#ejercicio-8 ul li::before {

    position: absolute;
    content: ',';
    right: -5px;
    top:0;
}

#ejercicio-9 input {
    margin: 0 0 25px 0;
    display: block;
    width: 100%;    
}

#ejercicio-9 button {
    background: black;
    color: darkturquoise;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 100%;    
}

 
#ejercicio-8 button {
    background: black;
    color: darkturquoise;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 20%;    
}

#ejercicio-10 button {
    margin-left: 2%;
    display: inline-block;
    background: black;
    color: darkturquoise;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 30%;
    overflow: auto;    
    clear: both;
}
#ejercicio-10 video {
    width: 100%;
    margin: 0 20px 0 0; 
    
}


.navBar  {
    position: fixed;
    margin: 15% 0  0 -190px;
    width: auto;

   
}