* {
    padding: 0px;
    margin: 0px;
}

/* body {
    transition-property: transform;
    transition-duration: 2s;
    transform: rotate(180deg);
    
    
} */

@keyframes animate_layer {
    0% {
        transform: scaleX(100%);
    }
    100% {
        transform: scaleX(0);
        visibility: hidden;  
    }
}

#main-content {
    width: 50%;
    margin: 150px auto;
    height: 100%;
    /* transition-property: transform;
    transition-duration: 2s;
    transform: rotate(90deg); */
}

.square {
    width: 100%;
    border: 5px solid white;
    margin: 0 auto 0 200px;
    height: 150px;
    background-color: #25a2b3;

    transition-property: transform;
    transition-duration: 2s;
  
   
}
 

.square:hover {
    opacity: 1;
    transform: rotateY(180deg);
    transition-duration: 1s;
}

.square .texto {
    
    width: 100%;
    height: 200px;
    color: rgb(37, 162, 179);
    transition-property: color;
    transition-duration: 3s;
    font-size: 0.4em;
    text-align: center;
    line-height: 150px;
}

.square .texto:hover {
    font-weight: bold;
    color: black;
}

#top-row .layer{

    transition-property: opacity 0;
    
}
#top-row .layer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: white;
    animation: 10s ease-out 2s 1 animate_layer;
    animation-fill-mode: forwards;
}



#middle-row .layer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: white;
    animation: 10s ease-out 7s 1 animate_layer;
    animation-fill-mode: forwards;
}




#bottom-row .layer::before {
    content: "";
    position: absolute;
    width: 100%;
    margin: 0 auto;
    height: 200px;
    background-color: white;
    animation: 10s ease-out 12s 1 animate_layer;
    animation-fill-mode: forwards;
}


#bottom-footer-row .layer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: white;
    animation: 10s ease-out 18s 1 animate_layer;
    animation-fill-mode: forwards;
}
