* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: grey;
}

ul {
    width: 50%;
    margin: 50px auto;
    list-style: none;
    display: block;
}

li {
    white-space: nowrap;
    padding: 20px;
    background: lightgray;
    text-align: center;
    display: inline-block;
    box-shadow: black;
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.6);
}

li:first-child {
    border-radius: 25px 0 0 0;
}

li:last-child {
    border-radius: 0 25px 0 0;
    
}

li:hover {
    background-color: white;
    box-shadow: black;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.6);
}

.content {
    width: 50%;
    border: 1px solid black;
    height: 700px;
    margin: 0 auto;
}

 .show {

    visibility: visible;
 }

 .hide { 
    visibility: hidden;
 }