/* width */
* {
    margin: 0;
    padding: 0;
    
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

:host {
    display: inline-block;
    text-align: center;
    width: 100%;
   
   
}

h6 {
    line-height: 25px;
    text-align: center;
    color: white;
    padding: 15px 0;
    display: block;
}

span[id^='total-']{
    color: white;
    font-weight: bold;
    padding: 15px;
    font-size: 1rem;
}

#list li p {
    height: 25px;
    padding: 2px;
}

#list li p.delete_item {
    padding: 5px;
    display: inline;
    cursor: pointer;
    font-size: 18px;
    color: black;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(173, 61, 85, .5);
}

/* #shwlist {
    line-height: 25px;
    width: 100%;
    background-color: rgba(58, 58, 58, 0);
    color: white;
    font-weight: bold;
    border: 0;
    background-image: url(../media/button.jpg);
    background-size: 100% 1005;
} */

li {
    height: 200px;
    width: 100%;
}

.noti {
    line-height: 25px;
    display: inline-block;
    border-radius: 50%;
    font-weight: bold;
    width: 25px;
    height: 25px;
    text-align: center;
    background: red;
    color: white;
    font-size: 0.8em;
}

 #title {
    text-align: center;
}

#main ul {
    display: none;
    overflow-y: hidden;
    overflow: scroll;
    font-size: 0.6em;
    line-height: 90px;
    width: 500px;
    text-align: center;
    border: 3px solid #3A3A3A;
    background-color: rgba(27, 27, 27, 0.794);
    transition: height 350ms ease-in-out;
}

#list {
    position: relative;
}

#main ul.is-visible {
    top: 20px;
    left:-25px;
    padding: 5px;
    position: absolute;
    z-index: 9;
    display: inline-block;
    height: 750px;
    max-height: 400px;
    overflow-y: scroll;
}


 
button {
    border: none;
    color:  #ffc107 !important;
    border-radius: 10px !important;
    background: #343A40;
    box-shadow: 20px 20px 60px #1a1d20, -20px -20px 60px #4e5760;
}

button:focus {
    border-radius: 50px;
    background: #343A40;
    box-shadow: 20px 20px 60px #1a1d20, -20px -20px 60px #4e5760;
}

.btn:focus{
    box-shadow: none;
    background: #343A40;
    box-shadow: inset 20px 20px 60px #22262a, inset -20px -20px 60px #464e56;
}

@media only screen and (max-width: 600px) {
    #main ul {
        overflow-y: hidden;
        overflow: scroll;
        font-size: 0.6em;
        line-height: 90px;
        
        width: 300px;
        text-align: center;
        border: 3px solid #3A3A3A;
        background-color: rgba(27, 27, 27, 0.794);
        display: none;
        height: 750px;
        transition: height 350ms ease-in-out;
    }

    #main ul.is-visible {
        top: 20px;
        left:-10px;
        padding: 5px;
        position: absolute;
        z-index: 9;
        display: inline-block;
        height: 750px;
        max-height: 400px;
        overflow-y: scroll;
    }
    img {
        height: 25px;
        height: 25px;
    }
  }
