/* width */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.parallax {
    /* The image used */
    background-image: url("https://www.xlsemanal.com/wp-content/uploads/sites/3/2018/11/confesiones-de-un-hacker-768x506.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

body {
    background-color: #343A40;
    ;
}

.card {
    background-color: #343A40;
}

main {
    max-height: 900px;
    float: right;
    overflow: hidden;
    overflow-y: scroll;
}

.testimonial-group {
    -webkit-overflow-scrolling: touch;
}

.testimonial-group>.row {
    overflow-x: scroll;
    flex-wrap: nowrap;
}

.testimonial-group>.row>.col-xs-12 {
    display: inline-block;
    float: none;
}

.card-deck {
    padding: 15px;
}

.card-deck img {
    max-height: 250px;
}

div section {
    position: relative;
    z-index: 9;
    background: #343A40;
    box-shadow: 20px 0px 60px #1a1d20, -20px 0px 60px #4e5760;
    border-top: none;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

#main-row #left {
    color: rgba(0, 0, 0, 0.493);
    position: absolute;
    z-index: 9;
    cursor: pointer;
    top: 150px;
    font-size: 4.5rem;
}

#main-row #right {
    color: rgba(0, 0, 0, 0.493);
    position: absolute;
    z-index: 9;
    cursor: pointer;
    top: 150px;
    right: 40px;
    font-size: 4.5rem;
}

#main-row #right:hover {
    color: rgba(0, 0, 0, 0.911);
}

#main-row #left:hover {
    color: rgba(0, 0, 0, 0.911);
}

#main-row #left {
    color: rgba(0, 0, 0, 0.493);
    position: absolute;
    z-index: 9;
    cursor: pointer;
    top: 150px;
    left: 25px;
    font-size: 4.5rem;
}

#main-pseudo {
    position: relative;
}

#main-pseudo #right-bottom {
    color: rgba(0, 0, 0, 0.493);
    position: absolute;
    z-index: 9;
    cursor: pointer;
    bottom: 150px;
    right: 25px;
    font-size: 4.5rem;
}

#main-pseudo #left-bottom {
    color: rgba(0, 0, 0, 0.493);
    position: absolute;
    z-index: 9;
    cursor: pointer;
    bottom: 150px;
    left: 10px;
    font-size: 4.5rem;
}

#left-bottom {
    color: rgba(0, 0, 0, 0.493);
    position: absolute;
    z-index: 9;
    cursor: pointer;
    bottom: 150px;
}

#right-bottom {
    color: rgba(0, 0, 0, 0.493);
    position: absolute;
    z-index: 9;
    cursor: pointer;
    bottom: 150px;
}

.card-deck {
    min-width: 300px;
}

.text-card {
    max-height: 50px;
    overflow-y: auto;
    min-height: 50px;
}

button {
    border: none;     
    color:  #ffc107 !important;
    border-radius: 10px !important;
    background: #343A40;
    box-shadow: 20px 20px 60px #1a1d20, -20px -20px 60px #4e5760;
}

.btn:focus {
    box-shadow: none;
    background: #343A40;
    box-shadow: inset 20px 20px 60px #22262a, inset -20px -20px 60px #464e56;
}

button:focus {
    border-radius: 50px;
    background: #343A40;
    box-shadow: inset 20px 20px 60px #22262a, inset -20px -20px 60px #464e56;
}

a.btn {
    color:  #ffc107 !important;
    border-radius: 10px !important;
    background: #343A40;
    box-shadow: 20px 20px 60px #1a1d20, -20px -20px 60px #4e5760;
}

.card {
    border-radius: 10px !important;
    background: #343A40;
    box-shadow: 20px 20px 60px #1a1d20, -20px -20px 60px #4e5760;
}

nav {
    background: #343A40;
    box-shadow: -20px 20px 60px #1a1d20, 20px -20px 60px #4e5760;
}

footer {
    
    box-shadow: -20px -20px 60px #1a1d20, 20px 20px 60px #4e5760;
}

.section {
    margin-top: 50%;
}

@media only screen and (max-width: 600px) {
    .section {
        margin-top: 0px;
    }
    #main-pseudo #right-bottom {
        display: none;
    }
    #main-pseudo #left-bottom {
        display: none;
    }
    #right {
        display: none;
    }
    #left {
        display: none;
    }
}

ul.ui-menu {
    z-index: 9;
    display: inline-block;
    background-color: #4e5760;
    color: white;
    border: groove 0.3em  #ffc107;
   

}

li.ui-menu-item {

    z-index: 9;
    padding: 15px;
    background-color: #4e5760;
    list-style-type: none;
    font-size: 1.2em;
}
li.ui-menu-item:hover {
    background-color: #4e5760;
}
h1,h2,h3,h4,h5,h6 {
    color: #ffc107 ;
}