/*
   primary color: #d32f2f
   light: #ff6659
   secondary color: #212121
   secondary ligth: #484848
   secondary dark: #000000
*/

html {
    scroll-behavior: smooth;
}

my-list {
    width: 250px;
}

nav {
    position: relative;
    z-index: 9999;
}

li.active>a {
    color: red !important;
}

.logo {
    font-family: 'Cedarville Cursive';
    font-size: 2rem;
    color: red !important;
    animation: beat .40s infinite alternate;
    transform-origin: center;
}

/*
numero contador de articulos
*/

#quantity {
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: 25%;
    padding: 10px;
    color: red;
    font-size: 5rem;
    width:180px;
}

ul li div.counter button:nth-child(1) {
   transform: rotate(45deg);
}

li#info-mine {
    background: url(../media/ferrai_logo.png);
    background-size: 100% 100;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

main ul li p {
    border-radius: 15px;
    padding: 15% 10px 10px 10px;
    background-color: #00000065;
    line-height: 25px;
    font-size: 1.5rem;
    height: 100%;
}

li.fotos-mv {
    display: none;
}

.italia-g {
    display: block;
    border: 2px solid green;
}

.italia-r {
    display: block;
    border: 2px solid red
}

.italia-w {
    display: block;
    border: 2px solid white;
}

.parallax {
    /* The image used */
    background-image: url(../media/redmounais.jpg);
    /* Full height */
    height: 120%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    padding: 115px 15px 50px 15px;
}

#main-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #0000006c;
}

li.fotos {
    padding: 15px;
}

li.fotos div.sc {
    position: relative;
    top: -30px;
    left: -25px;
    z-index: 7;
}

ul button {
    height: 100px;
    padding: 50px 0;
    background: url(../media/button.jpg);
    border-radius: 0 0 27px 27px;
    color: black;
}

li.fotos {
    display: flex;
    padding-top: 100px;
}

li.fotos div img.sc:hover {
    transform: scaleX(1.2) scaleY(1.2) translateY(-50px);
    z-index: 999;
    box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.45);
}

li.fotos div img.thr:hover {
    transform: scaleX(1.5) scaleY(1.5);
    z-index: 999;
    box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.45);
}

li.fotos div img.ft:hover {
    transform: scaleX(1.2) scaleY(1.2) translateX(25px);
    z-index: 999;
    box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.45);
}

li.fotos div img.ft {
    max-width: 100%;
    transition-property: transform;
    transition-duration: 0.5s;
    position: relative;
    z-index: 3;
}

li.fotos div img.sc {
    box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.45);
    transition-property: transform;
    transition-duration: 0.5s;
    position: relative;
    left: -45px;
    top: 30px;
    transform: scaleX(1.2) scaleY(1.2) translateY(-30px);
    z-index: 7;
}

li.fotos div img.thr {
    transform: scaleX(1.3) scaleY(1.3) translateY(-15px);
    transition-property: transform;
    transition-duration: 0.5s;
    position: relative;
    left: -130px;
    z-index: 5;
}

nav {
    opacity: 0.8;
    font-weight: bold;
}

.formularie-header {
    border-radius: 15px;
    padding: 20px 20px;
}

.formularie-header button {
    background-color: #484848;
}

#submenu-nav>a:hover {
    color: black !important;
}

.redes ul {
    width: 100%;
}

.redes ul>li {
    float: left;
    padding: 5px;
}

.redes ul li span {
    margin: 0 auto;
    display: inline-block;
    height: 30px;
    width: 30px;
}

li #fb {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-image: url(../media/fb.png);
    background-size: 100% 100%;
}

li #is {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-image: url(../media/instagramimg.png);
    background-size: 100% 100%;
}

li #lk {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../media/lk.png);
    background-size: 100% 100%;
}

li #tw {
    display: inline-block;
    border-radius: 50%;
    background-color: whitesmoke;
    width: 30px;
    height: 30px;
    background-image: url(../media/tw.png);
    background-size: 100% 100%;
}

#email {
    width: 100%;
}

.footer {
    padding: 25px;
    background-color: #484848;
    font-size: 0.8em;
    color: #000000;
}

footer .footer-nav {
    padding: 0 20px;
}

footer .footer-nav ul li a {
    line-height: 50px;
}

.footer ul {
    list-style-type: none;
}

.heart {
    font-size: 50px;
    color: #e00;
    animation: beat .40s infinite alternate;
    transform-origin: center;
}

/* On screens that are 600px or less, set the background color to olive */

@media screen and (max-width: 600px) {
    li.fotos .row {
        display: inline;
    }
    li.fotos-mv {
        display: none;
    }
    main ul li p {
        line-height: 15px;
        font-size: 1rem;
    }
    h5.cardtitle {
        font-size: 0.8rem;
    }
    .footer-nav ul li {
        display: flex;
    }
    li.fotos {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
    }
    li.fotos img {
        max-width: 100%;
    }
    li.fotos div img.thr:hover {
        transform: scaleX(1.8) scaleY(1.8);
        z-index: 999;
        box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.45);
    }
    li.fotos div img.sc:hover {
        transform: scaleX(1.8) scaleY(1.8) translateY(-30px);
        z-index: 999;
        box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.45);
    }
    li.fotos div img.ft:hover {
        transform: scaleX(1.5) scaleY(1.5) translateX(15px);
        z-index: 999;
        box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.45);
    }
    li.fotos div img.ft {
        transition-property: transform;
        transition-duration: 0.5s;
        position: relative;
        z-index: 3;
        transform: scaleY(1.4) scaleX(1.4);
    }
    li.fotos div img.sc {
        box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.45);
        transition-property: transform;
        transition-duration: 0.5s;
        position: relative;
        left: 0px;
        top: 30px;
        transform: scaleY(1.5) scaleX(1.5) translateY(-20px);
        z-index: 7;
    }
    li.fotos div img.thr {
        transform: scaleY(1.6) scaleX(1.6) translateY(0px);
        transition-property: transform;
        transition-duration: 0.5s;
        position: relative;
        left: 0px;
        z-index: 5;
    }
    li.fotos-mv img {
        float: left;
        display: inline;
        max-width: 50%;
    }
    li#info-mine div:nth-child(1) {
        background: url(../media/ferrai_logo.png);
        background-size: 100% 100;
        background-repeat: no-repeat;
        background-position: top;
        height: 100%;
    }
}

/* On screens that are 992px or less, set the background color to blue */

@media screen and (min-width: 601px) and (max-width: 900px) {
    main ul li p {
        line-height: 15px;
        font-size: 1rem;
    }
    li.fotos-mv {
        display: none;
    }
    li.fotos {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
    }
    li.fotos div img.thr:hover {
        transform: scaleX(1.8) scaleY(1.8) translateX(-30px);
        z-index: 999;
        box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.45);
    }
    li.fotos div img.sc:hover {
        transform: scaleX(1.8) scaleY(1.8) translateY(-30px);
        z-index: 999;
        box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.45);
    }
    li.fotos div img.ft:hover {
        transform: scaleX(1.5) scaleY(1.5) translateX(15px);
        z-index: 999;
        box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.45);
    }
    li.fotos img {
        max-width: 100%;
    }
    li.fotos div img.ft {
        transition-property: transform;
        transition-duration: 0.5s;
        position: relative;
        z-index: 3;
        transform: scaleY(1.2) scaleX(1.2);
    }
    li.fotos div img.sc {
        box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.45);
        transition-property: transform;
        transition-duration: 0.5s;
        position: relative;
        left: 0px;
        top: 30px;
        transform: scaleY(1.3) scaleX(1.3) translateY(-20px);
        z-index: 7;
    }
    li.fotos div img.thr {
        transform: scaleY(1.4) scaleX(1.4) translateX(-15px);
        transition-property: transform;
        transition-duration: 0.5s;
        position: relative;
        left: 0px;
        z-index: 5;
    }
    li#info-mine div:nth-child(1) {
        background: url(../media/ferrai_logo.png);
        background-size: 100% 100;
        background-repeat: no-repeat;
        background-position: top;
        height: 100%;
    }
}

/* Heart beat animation */

@keyframes beat {
    to {
        transform: scale(1.05);
    }
}