/*
   primary color: #d32f2f
   light: #ff6659
   secondary color: #212121
   secondary ligth: #484848
   secondary dark: #000000
*/

html {
    scroll-behavior: smooth;
}

nav {
    position: relative;
    z-index: 9999;
}

#welcom-layer {
    border-bottom: 2px solid;
    width: 100%;
    height: 100%;
    text-align: center;
}
 
my-list {
    width: 250px;
}

h5.card-title {
    font-size: 0.8rem;
}

.card-body {
    position: relative;
    max-height: 250px;
}

/* .card-body span:nth-child(1)::before {
    position: absolute;
    content: "";
    z-index: 9999;
    background-image: url(../media/ferrai_logo.png);
    background-size: 100% 100%;
    bottom: 10px;
    right: 47%;
    height: 35px;
    width: 35px;
    animation: beat .40s infinite alternate;
    transform-origin: center;
} */

.sign {
    height: 35px;
    width: 35px;
}

li.active>a {
    color: red !important;
}

#welcom-layer h1 span:nth-child(2) {
    font-family: 'Cedarville Cursive';
    font-size: 22px;
    font-size: 15rem;
    line-height: 1000px;
    letter-spacing: 0.3rem;
    color: black;
}

#main-list {
    list-style-type: none;
}

#main-list>li {
    display: inline-block;
}

#welcom-layer h1:nth-child(1)::after {
    animation: beat .40s infinite alternate;
    transform-origin: center;
    position: absolute;
    font-size: 5rem;
    content: "</Cars>";
    top: -7%;
    left: 47%;
}

h5 {
    display: inline;
}

.card-img-top {
    min-height: 200px;
    max-height: 200px;
    max-width: 100%;
}

.italia-g {
    display: block;
    border: 2px solid green;
}

.italia-r {
    display: block;
    border: 2px solid red
}

.italia-w {
    display: block;
    border: 2px solid white;
}

.logo {
    font-family: 'Cedarville Cursive';
    font-size: 2rem;
    color: red !important;
    animation: beat .40s infinite alternate;
    transform-origin: center;
}

.card-body a, button {
    background: url(../media/button.jpg);
   
}

.bgb-button {
    padding: 50px 0;
    background: url(../media/alcantara.jpg);
     
    border-radius: 0 0 27px 27px;
}

.card {
    border-radius: 0 0 10px 10px;
}

#welcom-layer h1:nth-child(1) {
    position: relative;
    z-index: 9150;
    font-family: 'Cedarville Cursive';
    font-size: 22px;
    font-size: 15rem;
    line-height: 1000px;
    letter-spacing: 0.3rem;
    text-decoration: underline;
    color: red;
}

x-modal {
    visibility: hidden;
    position: relative;
    z-index: 9;
    left: 60%;
    top: -50px;
}

.parallax {
    /* The image used */
    background-image: url(../media/redmounais.jpg);
    /* Full height */
    height: 150%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    padding: 115px 15px 50px 15px;
}

nav {
    opacity: 0.8;
    font-weight: bold;
}

.formularie-header {
    border-radius: 15px;
    padding: 20px 20px;
}

.formularie-header button {
    background-color: #484848;
}

#submenu-nav>a:hover {
    color: black !important;
}

.redes ul {
    width: 100%;
}

.redes ul>li {
    float: left;
    padding: 5px;
}

.redes ul li span {
    margin: 0 auto;
    display: inline-block;
    height: 30px;
    width: 30px;
}

li #fb {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-image: url(../media/fb.png);
    background-size: 100% 100%;
}

li #is {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-image: url(../media/instagramimg.png);
    background-size: 100% 100%;
}

li #lk {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../media/lk.png);
    background-size: 100% 100%;
}

li #tw {
    display: inline-block;
    border-radius: 50%;
    background-color: whitesmoke;
    width: 30px;
    height: 30px;
    background-image: url(../media/tw.png);
    background-size: 100% 100%;
}

#email {
    width: 100%;
}

.footer {
    padding: 25px;
    background-color: #484848;
    font-size: 0.8em;
    color: #000000;
}

footer .footer-nav {
    padding: 0 20px;
}

footer .footer-nav ul li a {
    line-height: 50px;
}

.footer ul {
    list-style-type: none;
}

.heart {
    font-size: 150px;
    color: #e00;
    animation: beat .40s infinite alternate;
    transform-origin: center;
}

@media only screen and (max-width: 600px) {
    h5.cardtitle {
        font-size: 0.8rem;
    }
    .footer-nav ul li {
        display: inline;
    }
    #welcom-layer {
        height: 1500px;
    }
    #welcom-layer h1 span:nth-child(2) {
        font-family: 'Cedarville Cursive';
        font-size: 22px;
        font-size: 9rem;
        line-height: 1000px;
        letter-spacing: 0.3rem;
        color: black;
    }
    #welcom-layer h1:nth-child(1)::after {
        position: absolute;
        font-size: 2rem;
        content: "</code>";
        top: -2%;
        left: 30%;
    }
    #welcom-layer h1:nth-child(1) {
        position: relative;
        z-index: 9150;
        font-family: 'Cedarville Cursive';
        font-size: 22px;
        font-size: 5rem;
        line-height: 1000px;
        letter-spacing: 0.3rem;
        text-decoration: underline;
        color: red;
    }
}

@media only screen and (min-width: 601px) {
    h5.cardtitle {
        font-size: 0.8rem;
    }
}

/* Heart beat animation */

@keyframes beat {
    to {
        transform: scale(1.05);
    }
}