* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
}

header .row {
    text-align: center;
    background: url(https://image.shutterstock.com/image-vector/abstract-black-red-tech-wavy-260nw-758336155.jpg);
    background-repeat: no-repeat;
    background-size: 100% 120%;
    height: 200px;
}

header .row nav ul {
    text-align: left;
    list-style-type: none;
    color: white;
    word-break: break-all;
}

header .row nav ul>li {
    display: inline-block;
    line-height: 200px;
    padding: 0 50px;
}

header a {
    display: inline-block;
    text-decoration: none;
    height: 200px;
}

header #logo {
    height: 100px;
    border-radius: 50%;
}

header .row nav ul>li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#main-frame ul {
    list-style-type: none;
}

#main-frame ul>li .pic {
    padding: 15px;
}

#main-frame ul>li .pic img {
    border-radius: 15px;
    width: 100%;
    height: 300px;
}

#main-frame ul>li .content {
    padding: 15px;
}

#main-frame ul>li .content .desc {
    font-size: 0.6em;
}

#main-frame ul>li {
    font-size: 0.8em;
}

#main-frame ul>li .price {
    text-align: right;
    padding-left: 15%
}

.star {
    padding-left: 55px;
    padding-top: 10px;
}

img:nth-child(1){
    border-radius: 15px 15px 0 0;
}
.star span {
    width: 15px;
}

#lista>li>.detail {
    padding-left: 25px;
}

#lista>li>.detail> a {
    text-align: center;
    text-decoration: none; 
    font: menu;
    display: inline-block; 
    padding: 2px 8px;
    background: ButtonFace; 
    color: ButtonText;
    border-style: solid; 
    border-width: 2px;
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;
    border-radius: 15px;
    color: white;
    padding: 15px;
    font-size: 18px;
    width: 100%;
    margin: 0 auto;
}


footer {
    padding-top: 25px;
}

footer .row {
    padding-top: 50px;
    color: rgba(255, 255, 255, 0.205);
    text-align: center;
    height: 200px;
    width: 100%;
    height: 200px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRDjnQ7VKG5th4ZWy-xgfxlm2rIxbJr_nNLzZxU06SF1vu0x-LS);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

footer .row p {
    font-size: 0.5em;
    letter-spacing: 5px;
    font-weight: bold;
    text-shadow: 5px -13px 2px rgb(32, 32, 32);
}

footer .row ul {
    color: white;
    list-style-type: none;
    font-size: 0.5em;
}

footer .row ul li {
    font-size: 0.7em;
    
}

.checked {
    color: orange;
}


main.detail .row{
    line-height: 25px;
    margin-top: 25px;
    padding: 25px;
    background-color: gray;
}


 #detail {
   text-transform: capitalize;
   font-size: 0.8em;
   width: 50%;
   margin: 0 auto;
 
   
}
.img_galery{
   width: 100%;
    min-height: 100px;
    max-height: 100px;
}
.sku-text {
    text-align: right;
}
#detail li div img {
    width: 100%;
    height: 250px;  
    
}
.colores {

    padding: 10px;
}

.zoom {
    transition: transform 0.5s; /* Animation */
    margin: 0 auto;
  }
  .zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.add-to-car {
  width: 100%;
  padding: 20px;
  background-color: coral;
  color: white;
  font-weight: bold;
  }

.box {
    position: relative;
    overflow: visible;
    padding-top: 10px;
    border-radius: 20px;
    height: 100px;
    display: inline-block;
    overflow-y: visible;
   
    line-height: 50px;
}

  /* telefonos */

@media only screen and (max-width: 600px) {
  
    #detail {
        text-transform: capitalize;
        font-size: 0.8em;
        margin: 0 auto;
        width: 100%;
        
     }
  
     .img_galery{
        height: 100%;
        max-width: 100%;
        max-height: 100px;
    }
 
    #detail img {
        height: 100px;
        width: 100%;
        min-width: 100%;
 
        
    }
    header .row {
        height: 454px;
    }
  
    header .row nav ul>li {
        padding-top: 15px;
         line-height: 0px;
        display: inline-block;
        font-size: 0.8em;
        padding-left: 50px;
    }
    header a {
        height: 50px;
    }
    header .row nav ul>li.col-6{
        width: 100%;
    }
    header div.col-9 {
        width: 100%;
        height: 40px;
    }
    header .row nav ul>li:first-child {
        width: 100%;

    } 
    main ul>li.col-4 {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) {
    main ul>li.col-4 {
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    main ul>li.col-4 {
        width: 33.33%;
    }
}