body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    z-index: 9;
    opacity: 1;
    width: 100%;
    height: 0;
    border-bottom: 100px solid orange;
    border-right: 100px solid transparent;
    padding: 25px;
    background-color: lightgray;
}

header nav ul li a {
    text-decoration: inherit;
    color: white;
}

header.row {
    padding: 25px;
}

header nav {
    padding-left: 50px;
}

header nav ul {
    text-align: center;
    box-shadow: -10px -5px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: black;
    border-radius: 25px;
    padding-left: 55px;
    margin: 0 auto;
    list-style-type: none;
}

header nav ul>li {
    min-width: 200px;
    display: inline-block;
    line-height: 55px;
}

header .logo {
    box-shadow: -10px -5px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    height: 55px;
    width: 55px;
}

main .pub {
    padding: 25px;
}

main .pub aside {
    border: 2px solid black;
    background: url(https://www.pngjoy.com/pngm/311/5855538_vertical-banner-advertising-png-download.png);
    background-size: 100% 100%;
    height: 1300px;
    width: 100%;
}

main .video {
    padding: 25px;
}

main .video ul>li {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

main .video ul>li>figure {
    height: 300px;
    background: url(../media/tv.png);
    background-repeat: no-repeat;
    background-size: 85% 100%;
    background-position: center;
    padding: 70px;
}

main .video ul {
    list-style-type: none;
}

main .video ul>li video {
    width: 82%;
    height: 150px;
    border-radius: 15px;
}

main .video ul {
    text-align: center;
}

main .imagenes ul>li {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

main .imagenes ul {
    margin-top: 50px;
    list-style-type: none;
    font-size: 0.7em;
}

article {
    padding: 25px;
}

main .imagenes ul>figure {
    padding: 100px 0;
}

main .imagenes ul li figure>img {
    width: 100%;
    height: 200px;
}

main .imagenes {
    padding: 25px;
}

main .imagenes ul>h1 {
    text-align: center;
}

main .imagenes ul>li {
    line-height: 35px;
}

footer {
    text-align: center;
    background-color: lightgray;
}

.footer {
    padding: 25px;
}

.footer-ul ul {
    list-style-type: none;
}

#hamburger {
    visibility: hidden;
}

footer nav {
    padding: 25px;
    font-size: 2.0em;
}

footer nav ul li a {
    text-decoration: none;
    color: black;
}

footer .copy p {
    line-height: 100px;
    font-size: 2em;
    font-weight: bold;
}

.formulario fieldset {
    width: 50%;
    margin: 0 auto;
    padding: 50px;
}

.formulario fieldset {
    margin: 0 auto;
}

.formulario label {
    display: block;
    margin-top: 10px;
}

.formulario input {
    display: block;
}

.form.row {
    padding: 10%;
}

@media only screen and (max-width: 600px) {
    .pub.col-4 {
        width: 100%;
    }
    #videos.col-8 {
        width: 100%;
    }
    main aside .pub {
        padding: 0;
        margin: 0 auto;
    }
    #texto-imagen.col-8 {
        width: 100%;
    }
    main .imagenes li {
        width: 100%;
    }
    main .imagenes ul li {
        line-height: 25px;
    }
    main .imagenes ul li figure>img {
        width: 100%;
        height: 100px;
    }
    main .video figure {
        padding: 0px;
    }
    main .video {
        padding: 5px;
    }
    main .video ul>li video {
        width: 80%;
        height: 150px;
        margin: 0 auto;
    }
    #hamburger {
        position: relative;
        top: 50px;
        float: right;
        visibility: visible;
    }
    header nav ul {
        display: none;
    }
    main .pub aside {
        height: 400px;
    }
    .footer-ul nav {
        font-size: 1.5em;
    }
    footer {
        padding: 15px;
    }
    .copy.col-6 {
        margin-top: 15px;
        width: 100%;
    }
    footer .col-4 {
        width: 100%;
    }
    form .col-6 {
        width: 100%;
        padding: 1%;
    }
    .formulario fieldset{
        width: 100%;
    }
    .form .formulario {
        padding-top: 30%;
    }
    .form.row {
           
        padding: 10px;
    }
    header {
        position: fixed;
    }
    main.row {
        padding-top: 200px;
    }
    main .video ul>li>figure {
        padding-top: 70px;
    }
    header nav ul {
        padding-left: 12px;
        width: 100%;
        text-align: left;
    }
}