/* width */

* {
    border: none;
    border-color: none;
}

main, section, .card {
    background-color: #F8F9FA;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.parallax {
    /* The image used */
    background-image: url("../img/wallpaper.jpg");
    /* Create the parallax scrolling effect */
    /* Add the blur effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

main {
    float: right;
    overflow: hidden;
    overflow-y: scroll;
}

.testimonial-group {
    -webkit-overflow-scrolling: touch;
}

.testimonial-group>.row {
    overflow-x: scroll;
    flex-wrap: nowrap;
}

.testimonial-group>.row>.col-xs-12 {
    display: inline-block;
    float: none;
}

.card-deck {
    padding: 15px;
}

.card-deck img {
    max-height: 250px;
}

div section {
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 12px -2px 4px -3px rgba(122, 120, 122, 1);
    -moz-box-shadow: 12px -2px 4px -3px rgba(122, 120, 122, 1);
    box-shadow: 12px -2px 4px -3px rgba(122, 120, 122, 1);
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

#main-row #left {
    color: rgba(0, 0, 0, 0.493);
    position: absolute;
    z-index: 9;
    cursor: pointer;
    top: 150px;
    font-size: 4.5rem;
}

#main-row #right {
    color: rgba(0, 0, 0, 0.493);
    position: absolute;
    z-index: 9;
    cursor: pointer;
    top: 150px;
    right: 40px;
    font-size: 4.5rem;
}

#main-row #right:hover {
    color: rgba(0, 0, 0, 0.911);
}

#main-row #left:hover {
    color: rgba(0, 0, 0, 0.911);
}

#main-row #left {
    color: rgba(0, 0, 0, 0.493);
    position: absolute;
    z-index: 9;
    cursor: pointer;
    top: 150px;
    left: 25px;
    font-size: 4.5rem;
}

#main-pseudo {
    position: relative;
}

#main-pseudo #right-bottom {
    color: rgba(0, 0, 0, 0.493);
    position: absolute;
    z-index: 9;
    cursor: pointer;
    bottom: 150px;
    right: 25px;
    font-size: 4.5rem;
}

#main-pseudo #left-bottom {
    color: rgba(0, 0, 0, 0.493);
    position: absolute;
    z-index: 9;
    cursor: pointer;
    bottom: 150px;
    left: 10px;
    font-size: 4.5rem;
}

#left-bottom {
    color: rgba(0, 0, 0, 0.493);
    position: absolute;
    z-index: 9;
    cursor: pointer;
    bottom: 150px;
}

#right-bottom {
    color: rgba(0, 0, 0, 0.493);
    position: absolute;
    z-index: 9;
    cursor: pointer;
    bottom: 150px;
}

.card-deck {
    min-width: 300px;
}

.text-card {
    max-height: 100px;
    overflow-y: auto;
    min-height: 100px;
}
button {
    border: none;
    color: red !important;
    border-radius: 10px !important;
    background: #F8F9FA;
    box-shadow: -5px 5px 10px #e2e3e4, 5px -5px 10px #ffffff;
  }
  
  button:focus {
    border-radius: 50px;
    background: #F8F9FA;
    box-shadow: inset -8px 8px 16px #d9d9d9, inset 8px -8px 16px #ffffff !important;
  }
  
  a.btn {
    color: red !important;
    border-radius: 10px !important;
    background: #F8F9FA;
    box-shadow: -5px 5px 10px #e2e3e4, 5px -5px 10px #ffffff;
  }

footer {
    background-color: #F8F9FA;
    ;
}

ul.ui-menu {
    z-index: 9;
    display: inline-block;
    background-color: #ffffff;
    color: red;
    
   

}

li.ui-menu-item {

    z-index: 9;
    padding: 15px;
    background-color: #ffffff;
    list-style-type: none;
    font-size: 1.2em;
}
li.ui-menu-item:hover {
    background-color: #4e5760;
}