/* width */

::-webkit-scrollbar {
    width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

:host {
    position: relative;
    text-align: center;
    width: 100%;
    border: 1px solid white;
    padding-bottom: 10px;
}

h6 {
    line-height: 25px;
    text-align: center;
    color: white;
    padding: 15px 0;
    display: block;
}

* {
    padding: 0;
    margin: 0;
}

span[id^='total-']{
    color: white;
    font-weight: bold;
    padding: 15px;
    font-size: 1rem;
}

#list li p {
    height: 25px;
    padding: 2px;
}

#list li p.delete_item {
    padding: 5px;
    display: inline;
    cursor: pointer;
    font-size: 18px;
    color: black;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(173, 61, 85, .5);
}

/* #shwlist {
    line-height: 25px;
    width: 100%;
    background-color: rgba(58, 58, 58, 0);
    color: white;
    font-weight: bold;
    border: 0;
    background-image: url(../media/button.jpg);
    background-size: 100% 1005;
} */

li {
    height: 100px;
    width: 100%;
}

.noti {
    line-height: 25px;
    display: inline-block;
    border-radius: 50%;
    font-weight: bold;
    width: 25px;
    height: 25px;
    text-align: center;
    background: red;
    color: white;
    font-size: 0.8em;
}

ul {
    width: 100%;
}

#title {
    text-align: center;
}

#main ul {
    overflow-y: visible;
    clear: both;
    overflow: auto;
    font-size: 0.6em;
    line-height: 90px;
    width: 500px;
    text-align: center;
    border: 3px solid #3A3A3A;
    background-color: #B3B3B3;
    display: none;
    height: 0;
    transition: height 350ms ease-in-out;
}

#listado {
    position: relative;
}

#main ul.is-visible {
    top: 15px;
    padding: 5px;
    position: absolute;
    z-index: 9;
    display: inline-block;
    height: 400px;
    max-height: 400px;
    overflow-y: scroll;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
      gridview
*/
