/* width */
::-webkit-scrollbar {
  width:5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.parallax {
  /* The image used */
  background-image: url("https://i.pinimg.com/originals/46/1d/25/461d254f8563f8945ce3a385f289df17.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 
main {
  max-height: 600px;
  float: right;
  overflow: hidden;
  overflow-y: scroll;
}
.testimonial-group {
   
  -webkit-overflow-scrolling: touch;
}
.testimonial-group > .row {
  overflow-x: scroll;
  flex-wrap: nowrap;
}
.testimonial-group > .row > .col-xs-12 {
  display: inline-block;
  float: none;
}
.card-deck {
  padding: 15px;
}

.card-deck img {
  max-height: 250px;
}

div section {
  position: relative;
  z-index: 9;
  -webkit-box-shadow: 12px -2px 4px -3px rgba(122,120,122,1);
  -moz-box-shadow: 12px -2px 4px -3px rgba(122,120,122,1);
  box-shadow: 12px -2px 4px -3px rgba(122,120,122,1);
}

// Class
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

#main-row #left {
  color: rgba(0, 0, 0, 0.493);
  position: absolute;
  z-index: 9;
  cursor: pointer;
  top: 150px;
  font-size: 4.5rem;
}

#main-row #right {
  color: rgba(0, 0, 0, 0.493);
  position: absolute;
  z-index: 9;
  cursor: pointer;
  top: 150px;
  right: 40px;
  font-size: 4.5rem;
}
#main-row #right:hover {
  color: rgba(0, 0, 0, 0.911);
}
#main-row #left:hover {
  color: rgba(0, 0, 0, 0.911);
}

#main-row #left {
  color: rgba(0, 0, 0, 0.493);
  position: absolute;
  z-index: 9;
  cursor: pointer;
  top: 150px;
  left: 25px;
  font-size: 4.5rem;
}
#main-pseudo {
  position: relative;
}
#main-pseudo #right-bottom {
  color: rgba(0, 0, 0, 0.493);
  position: absolute;
  z-index: 9;
  cursor: pointer;
  bottom: 150px;
  right: 25px;
  font-size: 4.5rem;
}

#main-pseudo #left-bottom {
  color: rgba(0, 0, 0, 0.493);
  position: absolute;
  z-index: 9;
  cursor: pointer;
  bottom: 150px;
  left: 10px;
  font-size: 4.5rem;
}

#left-bottom {
  color: rgba(0, 0, 0, 0.493);
  position: absolute;
  z-index: 9;
  cursor: pointer;
  bottom: 150px;
}

#right-bottom {
  color: rgba(0, 0, 0, 0.493);
  position: absolute;
  z-index: 9;
  cursor: pointer;
  bottom: 150px;
}

.card-deck {
  min-width: 300px;
}

.text-card{

  max-height: 50px;
  overflow-y: auto;
  min-height: 50px;
}



 