* {
    margin: 0px;
    padding: 0px;
}

/* 
decoracion scroll bar mas fina estilo wwasap
*/

/* width */

::-webkit-scrollbar {
    width: 5px;
    border: none;
}

/* Track */

::-webkit-scrollbar-track {
    background: #EDEDED;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #EDEDED;
}

body {
 
  
    width: 100%;
    content: "";
    height: 800px;
}

/* 
    marco dentro de la envoltura pricipal 
*/

#body-wraper .frame {
    width: 1450px;
    margin: 0;
    padding: 0;
}

/* 
    marco flotante que es es marco principal que lo envuelve todo 
*/

#body-wraper {

    position: absolute;
    width: 80%;
    top: 18px;
    left: 10%;
    box-shadow: -3px 3px 0px rgba(150, 150, 150, 0.2);
    overflow: hidden;
}

/* 
    dentro del marco tenemos dos contenedores izq y drch 
*/
#body-lft {
    position: relative;
    display: inline-block;
    width: 25%;
    height: 920px;
}

#body-lft .lens {
    position: absolute;
    width: 100%;
    border: 0.5px solid lightgrey;
    height: 50px;
    background: #EDEDED;
    top: 65px;
}

#body-lft .lens .lens-frame {
    position: relative;
    width: 120px;
    height: 50px;
}

#body-lft .lens .lens-frame p {
    position: absolute;
    left: 35px;
    top: 15px;
    z-index: 99;
    color: gray;
    position: relative;
    width: 120px;
    height: 50px;
}

#body-lft .lens .lens-frame:first-child::before {
    position: absolute;
    content: "";
    background-color: white;
    width: 325px;
    border-radius: 15px;
    height: 30px;
    top: 10px;
    left: 25px;
}


/* 
  cabezera izq denro de body-lft
*/

#body-lft .header {
    position: absolute;
    background: #EDEDED;
    top: 0;
    width: 100%;
    height: 65px;
    border-right: 2px solid gray;
}

#body-lft .header:first-child::before {

    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 25px;
    content: "";
    height: 40px;
    width: 40px;
    background: url(https://cdn2.iconfinder.com/data/icons/facebook-51/32/FACEBOOK_LINE-01-512.png);
    background-position: initial;
    background-size: contain ;
}



/* 
    dentro del marco tenemos dos contenedores izq y drch 
*/

#body-rht {
    position: absolute;
    display: inline-block;
    background: lightgrey;
    width: 74%;
    height: 100%;
}

/* 
  cabezera izq denro de body-rht
*/
#body-rht .header {
    border-left: 2px solid gray;
    position: absolute;
    top: 0;
    background: #EDEDED;
    z-index: 99;
    width: 120%;
    height: 65px;
}

/* 
  contenedor de los mensages
*/
#body-rht .content-msg {
    background-image: url(https://external-preview.redd.it/rEwFriCkfAtjOb5b-23b4tGGVcuvfaBqamYNJrgxnLM.png?auto=webp&s=f3bf0b5c90e4c5fda12ff2139781c854554fd198);
    background-size: auto;
    display: inline-block;
    width: 120%;
    height: 91%;
}


/* 
  banderola verde wasap
*/
#gren-banner {
    background: #2F9688;
    display: block;
    width: 100%;
    height: 125px;
}
/* 
  banderola inferior a la verde wasap
*/
#bck-banner {
    background: #D9DBD4;
    display: block;
    width: 100%;
    height: 107%;
}

/* 
  entrada de mensajes en la parte derecha dentro de body-rth
*/
#body-rht .input-msg input {
    position: absolute;
    background: white;
    border-radius: 25px;
    border: none;
    width: 80%;
    top: 12px;
    left: 7%;
    height: 55px;
}

/* 
  marco de mensajes en la parte derecha dentro de body-rth
*/
#body-rht .input-msg {
    border: 0.5px solid lightgrey;
    position: relative;
    background: #EDEDED;
    display: inline-block;
    width: 110%;
    height: 79px;
}


/* 
  Lista y sus elementos
*/
#body-lft .list ul {
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 115px;
    width: 100%;
    height: 88%;
    list-style-type: none;
}

#body-lft .list ul li {
    border: 0.5px solid lightgrey;
    background: #FFFFFF;
    position: relative;
    height: 68px;
}
#body-lft .list ul li:hover {
    background: #EBEBEB ;
    cursor: pointer;
 
}

#body-lft .list ul li .frame-items {
    position: relative;
    width: 100%;
    height: 35px;
    
}

#body-lft .list ul li p {
    position: absolute;
    font-size: 0.8em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: black;
    font-weight: bold;
    top: 18px;
    left: 20%;
}

#body-lft .list ul li p.subtitle{
    position: absolute;
    font-style: oblique;
    color: lightgrey; 
    top: 38px;
    left: 20%;

}
#body-lft .list ul li p.time{
    position: absolute;
    font-style: oblique;
    color: gr; 
    top: 18px;
    left: 75%;

}
 

#body-lft .list ul li:before {
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 25px;
    content: "";
    height: 40px;
    width: 40px;
    background: url(https://cdn2.iconfinder.com/data/icons/facebook-51/32/FACEBOOK_LINE-01-512.png);
    background-position: initial;
    background-size: contain ;
}